name: Update Lottery Results

on:
  schedule:
    # Cada hora de 08:00 a 19:00 (hora Venezuela) → 12:00 a 23:00 UTC
    - cron: "0 12-23 * * *"
    # A las 20:00 (hora Venezuela) → 00:00 UTC
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        env:
          GSERVICE_JSON: ${{ secrets.GSERVICE_JSON }}
        run: python scraper.py
